.header {
  padding: 2rem 3rem;
  position: fixed;
  top: 0;
  height: 5.6rem;
  width: 100%;
  background-color: #f2f2f1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

#navArea.is-sticky {
  height: 4.6rem;
  background-color: white;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 8px 8px;
}

/* MEDIA QUERY FOR WIDTH >= 1024 */
/* @media(width >=64rem) {
  .header {
    padding: 2rem 3rem;
    position: fixed;
    top: 0;
    height: 5.6rem;
    width: 100%;
    background-color: #f2f2f1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    transition: all 0.3s ease-in-out;
  }

} */