@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

/* #938783  Taupe / Wram Gray*/
/* #f5e1da  Pale Pink*/
/* #f2f2f1  Off White -- light-mode-bg*/
/* #8dcac1  Light Teal*/
/* #53aea0  Teal*/
/* #416272  Muted Blue*/
/* #18455a  Dark Blue -- dark-mode-bg*/

@layer utilities {
  .clip-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}

@theme {
  /* ======================== */
  /*        FONTS             */
  /* ======================== */
  --font-logo: "Alumni Sans SC", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Rubik", sans-serif;
  --font-text: "Roboto", sans-serif;

  /* ======================== */
  /*        TEXT COLORS       */
  /* ======================== */
  --color-light-text-primary: #18455a;
  /* Main text, headings */
  --color-light-text-secondary: #416272;
  /* Links hover */
  --color-light-text-tertiary: #938783;
  /* Subtext, labels */
  --color-light-text-footer: #666;
  /* Footer */
  --color-light-text-link: #53aea0;
  /* Links default */
  --color-light-text-link-hover: #416272;
  /* Links hover */
  --color-light-text-link-active: #18455a;
  /* Links active */

  /* ======================== */
  /*       BACKGROUNDS        */
  /* ======================== */
  --color-light-bg-body: #f2f2f1;
  /* Page background */
  --color-light-bg-card: #ffffff;
  /* Cards, containers */
  --color-light-bg-accent: #f5e1da;
  /* Empty states, soft UI blocks */

  /* ======================== */
  /*      UI ELEMENTS         */
  /* ======================== */
  --color-light-ui-primary: #53aea0;
  /* Primary button */
  --color-light-ui-secondary: #416272;
  /* Secondary button */
  --color-light-ui-border: #416272;
  /* Borders/dividers */
  --color-light-ui-disabled: #8dcac1;
  /* Optional: disabled state */

  /* ======================== */
  /*        GRADIENTS         */
  /* ======================== */
  --color-gradient-soft-aqua: linear-gradient(135deg, #cee7e2, #8dcac1);
  /* Free Plan Front Side */
  --color-gradient-cool-mint: linear-gradient(135deg, #416272 45%, #18455a);
  /* Paid Plan Front Side */
  --color-gradient-warm-muted: linear-gradient(135deg, #f5e1da, #938783);
  /* Custom Plan Front Side */
  --color-gradient-fresh-pastel: linear-gradient(135deg, #8dcac1, #f5e1da);
  /* Free Plan Back Side */
  --color-gradient-deep-cool: linear-gradient(135deg, #18455a, #53aea0);
  /* Paid Plan Back Side */
  --color-gradient-soft-muted: linear-gradient(135deg, #938783, #8dcac1);
  /* Custom Plan Back Side */


  /* ======================== */
  /*         SHADOWS          */
  /* ======================== */
  --shadow-button: 0 10px 20px rgba(0, 0, 0, 0.2);
  --shadow-button-active: 0 5px 10px rgba(0, 0, 0, 0.2);
  --shadow-card: 0 18px 48px rgba(0, 0, 0, 0.15);
  --shadow-nav: 0 10px 20px rgba(0, 0, 0, 0.15);
  --shadow-d-card: 16px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-c-link: 8px 8px 0 rgba(0, 0, 0, 0.4);
  --shadow-f-link: 7px 7px 0 rgba(0, 0, 0, 0.2);
  --shadow-s-link: inset 5px 5px 0 rgba(0, 0, 0, 0.2);
  --shadow-profile-pic: 0 0 20px 7px rgba(0, 0, 0, 0.06);
  --shadow-ws-card: 6px 6px 0 0 rgba(0, 0, 0, 0.1);

  /* ======================== */
  /*        BREAKPOINT        */
  /* ======================== */
  --breakpoint-xs: 384px;
  /* Breakpoint for XS displays */
  --breakpoint-3xl: 1920px;
  /* Breakpoint for 4k displays */
}

/* LOGO */
/* * {
  border: 1px solid black
} */

/* Global backdrop for dialog */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.65);
}

/* === Keyframes and animate class for dialog === */
/* Modal in */
@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal out */
@keyframes modal-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.85);
  }
}

/* animate class */
.animate-modal-in {
  animation: modal-in 0.2s ease-out forwards;
}

.animate-modal-out {
  animation: modal-out 0.2s ease-out forwards;
}

.logo {
  @apply font-logo xs:text-3xl sm:text-5xl font-bold;
}

.logo-footer {
  @apply font-logo xs:text-lg md:text-3xl font-semibold;
}

.logo-gradient {
  @apply bg-gradient-to-r from-[#53aea0] to-[#18455a] bg-clip-text text-transparent;
}

.logo-secondary-gradient {
  @apply bg-gradient-to-r from-[#416272] to-[#938783] bg-clip-text text-transparent;
}

.logo-footer-gradient {
  @apply bg-gradient-to-r from-[#bbb] to-[#555] bg-clip-text text-transparent;
}

/* SECTION */
.section {
  @apply xs:py-4 xs:px-6 3xl:py-12 3xl:px-24;
}

/* SECTION HEADING */
.head-util {
  @apply text-center mb-16;
}

.heading {
  @apply font-heading text-light-text-primary font-extrabold xs:text-[18px] sm:text-2xl;
}

.sub-heading {
  @apply font-body mt-2 xs:text-[14px] sm:text-lg;
}

/* ABOUT SECTION - POINTS */
.points {
  @apply flex flex-col gap-2 items-center font-text xs:p-3 lg:text-lg shadow-card rounded;
}

.points-h {
  @apply border-b-2 p-2 font-body font-semibold xs:text-lg lg:text-2xl text-light-text-primary;
}

.points-p {
  @apply text-center text-light-text-secondary;
}

/* DEMO SECTION */
.demo-f {
  @apply xs:text-[1rem] lg:text-[1.4rem] font-body font-light bg-light-bg-accent p-6 shadow-d-card transform skew-x-[-12deg] rounded;
}

.demo-n {
  @apply transform skew-x-[12deg] flex items-center justify-center gap-3 text-light-text-primary;
}

/* RADIO */
.radio {
  @apply flex items-center gap-2 text-lg text-gray-600 cursor-pointer
}