@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  /* CUSTOM FONTS */
  --font-logo: Alumni Sans SC, "sans-serif";
  --font-heading: Montserrat, "sans-serif";
  --font-body: Rubik, "sans-serif";

  /* CUSTOM COLORS */

  /* ----- Light Mode ----- */
  /* --color-cBackground: #f2f2f1;
  --color-cTeal: #53aea0;
  --color-cCardBg: #ffffff;
  --color-cText: #000000; */

  /* ----- Dark Mode ----- */
}

/* #938783  Taupe / Wram Gray*/
/* #f5e1da  Pale Pink*/
/* #f2f2f1  Off White -- light-mode-bg*/
/* #8dcac1  Light Teal*/
/* #53aea0  Teal*/
/* #416272  Muted Blue*/
/* #18455a  Dark Blue -- dark-mode-bg*/

body {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}